#-------------------------------------------------
#		Mod_reWrite
#-------------------------------------------------
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^products/(.*)$ products.php?type=$1

#-------------------------------------------------
#		Error Documents
#-------------------------------------------------
# Not found    -  ErrorDocument 404 http://localhost/Dropbox/php/404.php
# Forbidden    -  ErrorDocument 403 http://localhost/Dropbox/php/403.php
# Server Error -  
ErrorDocument 500 http://localhost/Dropbox/php/500.php
#-------------------------------------------------

Options -Indexes

<IfModule mod_expires.c>
  ExpiresActive on
# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"
  ExpiresByType text/css                  "access plus 1 year"
  ExpiresByType image/jpeg                "access plus 1 month"
  ExpiresByType image/png                 "access plus 1 minute"
</IfModule>

<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

FileETag None

<IfModule mod_deflate.c>

     # Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
     <IfModule mod_setenvif.c>
          <IfModule mod_headers.c>
               SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
               RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
          </IfModule>
     </IfModule>

     # Compress all output labeled with one of the following MIME-types
     # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
     # and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines as
     # `AddOutputFilterByType` is still in the core directives)
     <IfModule mod_filter.c>
          AddOutputFilterByType DEFLATE application/atom+xml \
                                        application/javascript \
                                        application/json \
                                        application/rss+xml \
                                        application/vnd.ms-fontobject \
                                        application/x-font-ttf \
                                        application/xhtml+xml \
                                        application/xml \
                                        font/opentype \
                                        image/svg+xml \
                                        image/x-icon \
                                        text/css \
                                        text/html \
                                        text/plain \
                                        text/x-component \
                                        text/xml
     </IfModule>
</IfModule>
