@font-face {
    font-family: 'RuppeeFont';
    src: url('rupee_foradian-webfont.eot.gz');
    src: url('rupee_foradian-webfont.eot.gz?#iefix') format('embedded-opentype'),
         url('rupee_foradian-webfont.woff.gz') format('woff'),
         url('rupee_foradian-webfont.ttf.gz') format('truetype'),
         url('rupee_foradian-webfont.svg.gz#rupee_foradianregular') format('svg');
    font-weight: normal;
    font-style: normal;
}