@font-face {
    font-family: 'RuppeeFont';
    src: url('rupee_foradian-webfont.eot');
    src: url('rupee_foradian-webfont.eot?#iefix') format('embedded-opentype'),
         url('rupee_foradian-webfont.woff') format('woff'),
         url('rupee_foradian-webfont.ttf') format('truetype'),
         url('rupee_foradian-webfont.svg#rupee_foradianregular') format('svg');
    font-weight: normal;
    font-style: normal;
}